<!DOCTYPE html>
<html lang="en">
    <head>
      <title>Burger Time</title>
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
      <link rel="stylesheet" type="text/css" href="assets/css/style.css">
      <!-- favicon link format -->
      <link rel="shortcut icon" type="image/x-icon" href="assets/images/favicon.ico">
      <!-- viewport tag -->
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
    <div class="page">

      {{{ body }}}

      <footer class="text-center">
        &copy; Casey Colby 2017
      </footer>
    </div>
    </body>
</html>